body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-image: url("/imagens/transferir\ \(3\).jfif");
    background-size: 100% 100%;
    background-position: center;
    background-attachment: fixed;
}
